{% extends "layout.html.twig" %}
{% block title %}Internal server error{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="box">
            Internal server error.
        </div>
    </div>
</div>
{% endblock %}
